@namespace Metafar.Challenge.WebApp.Components
@using Microsoft.AspNetCore.Components

<div>
    @if (IsVisible)
    {
        <Alert Color="@Color" Dismissable="false">
            <Icon Name="@IconName" class="me-2"></Icon>@Message
        </Alert>
    }
</div>

@code {
    [Parameter] public AlertColor Color { get; set; } = AlertColor.Primary;
    [Parameter] public IconName IconName { get; set; } = IconName.CheckCircleFill;
    [Parameter] public string Message { get; set; } = string.Empty;
    [Parameter] public bool IsVisible { get; set; } = false;
}